.header{
    height: 120px;
    /* background-image: linear-gradient(0,pink); */
    background-color: pink;
    margin-top: 0px;
}
.header_navbar{
    margin: 0 auto;
    /* border: 1px solid; */
    width: 1270px;
    display: flex;
    justify-content: space-between;
}
.header_navbar-list{
    cursor: pointer;
}
.qr{
    background-color: aliceblue;
    /* border: 1px solid; */
    width: 150px;
    height: 180px;
} 
.qr-img{
    width: 100%;
}
.item1{
}
.header_navbar-item{
    list-style: none;
}
.header_navbar-item{
    display:inline-block;
}
.header_navbar-item{
    margin:0 8px;
}
/* .header_navbar-qr {
    margin: 10px 0;
    background-color: white;
    width: 150px; */
}
.header_navbar-qr img{
    width: 100%;

}
/* .header_navbar-qr{
    display: none; */
}
.header_navbar-item .header_navbar-qr{
    display: block;
}
.header_navbar-apps{
    margin: 5px;
    font-size: 15px;
    display:inline-block;
}




